body {
  background-image: url('./assets/background_dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #222831;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

#minilogo {
  display: none;
}

h1.logo{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #EEEEEE;
  padding-left: 60px;
}

div.navbarwrapper {
  display: inline-flex;
  background-color: #393E46;
  width: 100%;
  text-align: right;
}


div .navbarlist {
  display: flex;
  list-style: none;
  margin-top: auto;
  margin-left: auto;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: #EEEEEE;
  text-align: right;
}

li#about, li#github {
  display: flex;
  align-items: center;

}

a.aboutus, a.github {
  color: #EEEEEE;
  display: flex;
  text-decoration: none;
  align-items: center;
}

a.aboutus:hover, a.github:hover {
  color: #FFC300;
  transition: color ease 0.7s;
}

a.test {
  color: #EEEEEE;
  text-decoration: none;
}

#testbutton:hover {
  background-color: #3A86FFFF;
  transition: background-color ease-out 0.3s;
}

#about, #github, #test {
  padding-left: 30px;
  padding-right: 30px;
}

#testbutton {
  background-color: #FFC300;
  color: #EEEEEE;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  height: 50px;
  width: 174px;
  border-radius: 50px;
  border: none;
}

div.textbox {
  display: flex;
  max-width: 1080px;
  margin: auto;
}

h1.headline {
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #EEEEEE;
  max-width: 361px;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

h2.subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color:#EEEEEE;
  max-width: 361px;
  margin-left: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 90px;
}

#testnow {
  background-color: #FFC300;
  width: 240px;
  height: 85px;
  border: none;
  border-radius: 13px;
  align-self: flex-start;
  margin-left: 90px;
}

a.testnow {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  color: #EEEEEE;
}

#testnow:hover {
  background-color: #3A86FFFF;
  transition: background-color ease-out 0.3s;
}

#tablettest {
  display: none;
  background-color: #FFC300;
  width: 240px;
  height: 85px;
  border: none;
  border-radius: 13px;
  align-self: flex-start;
  margin-left: 90px;
}

a.tablettest {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  color: #EEEEEE;
  margin: auto;
}

#tablettest:hover {
  background-color: #3A86FFFF;
  transition: background-color ease-out 0.3s;
}

#chatbotimg {
  border-radius: 6px;
}

.divider {
  flex-grow: 1;
}

div.textbox {
  display: flex;
  max-width: 1080px;
  margin: auto;
}

.text-content {
  flex-grow: 1;
  max-width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  max-width: 50%;
  margin-top: 100px;
}

footer {
  background-color: #1f2227;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 1080px) {
  body::-webkit-scrollbar {
    display: none;
  }
  
  #minilogo {
    display: flex;
    width: 100px;
    margin: auto;
    padding-top: 10px;
  }
  
  h1.logo {
    display: none;
  }

  div.navbarwrapper {
    flex-direction: column;
    align-items: center;
    min-width: 500px;
  }

  div.listwrapper{
    display: flex;
    margin: auto;
  }

  div.navbarlist {
    display: flex;
    list-style: none;
    margin-left: 0;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    color: #EEEEEE;
    text-align: center;
    margin-top: 0;
    margin: auto;
  }

  ul.navbarlist {
    display: flex;
    margin: auto;
    padding-bottom: 10px;
  }

  li#about,
  li#github,
  li#test {
    margin: 0 10px;
    padding: 10px;
    font-size: 24px;
  }

  button#testbutton {
    width: 140px;
    height: 40px;
  }

  #testbutton {
    margin-left: 0;
    font-size: 20px;
  }

  div.textbox {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-top: 50px;
    min-width: 500px;
  }

  div.text-content {
    display: flex;
    margin: auto;
    padding: 0;
  }

  h1.headline {
    font-size: 38px;
    max-width: 300px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    flex-grow: 1;
  }

  h2.subtitle {
    font-size: 22px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }

  #testnow {
    display: none;
  }
  
  #tablettest {
    display: flex;
    margin: auto;
  }

  .image-container {
    max-width: 500px;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #chatbotimg {
    width: 400px;
  }
}

@media only screen and (max-width: 715px) {
  
  div.textbox {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-top: 50px;
    min-width: 500px;
  }

  div.text-content {
    margin: auto;
    padding: 0;
    text-align: center;
  }
  
  h1.headline {
    font-size: 35px;
    margin: auto;
    padding: 0;
    padding-top: 50px;
  }

  h2.subtitle {
    font-size: 20px;
    margin: auto;
    padding: 0;
    padding-top: 20px;
  }

}

@media only screen and (max-width: 480px) {
  h1.logo {
    font-size: 24px;
  }

  div.navbarwrapper {
    flex-direction: column;
    align-items: center;
    min-width: 500px;
  }

  div.listwrapper{
    display: flex;
    margin: auto;
  }

  div.navbarlist {
    margin: 0px;
  }

  li#about,
  li#github,
  li#test {
    margin: 0 10px;
    padding: 10px;
    font-size: 24px;
  }

  button#testbutton {
    width: 140px;
    height: 40px;
  }

  #testbutton {
    margin-left: 0;
    font-size: 20px;
  }

  div.textbox {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-top: 50px;
    min-width: 500px;
    padding-bottom: 100px;
  }

  div.text-content {
    margin: auto;
    padding: 0;
    text-align: center;
  }

  h1.headline {
    font-size: 35px;
    margin: auto;
    padding: 0;
    padding-top: 50px;
  }

  h2.subtitle {
    font-size: 20px;
    margin: auto;
    padding: 0;
    padding-top: 20px;
  }

  button#testnow {
    display: none;
  }
  
 

  button#tablettest {
    display: flex;
    margin: auto;
  }

  .image-container {
    max-width: 500px;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #chatbotimg {
    width: 400px;
  }
}